.character-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 20px 80px;
  padding: 20px;
  position: relative;
  min-height: 300px;
}

.button-set {
  width: 50%;
  position: absolute;
  bottom: -20px; left: 40%;
  button {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: #5A2C05;
    cursor: pointer;
    font-size: 18px;
    text-transform: lowercase;
    padding: 0.4em 2em;
    margin-right: 20px;
    &:hover {
      background: #5A2C05;
      color: #F1AA61;
    }
  }
}
