.no-page {
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
  position: relative;
  &>img {
    width: 500px;
  }
  div {
    border-radius: 50%;
    width: 350px;height: 350px;
    position: absolute;
    top: 50%; left: 28%;
    animation-delay: 5s;
    animation: round-move 7s linear infinite;
    img {
      width: 230px;
      margin: 0 -45%;
      transform: rotate(-45deg);
    }
  }
  h1 {
    color: rgba(255,255,255,0.2);
    font-size: 300px;
    position: absolute;
    top: -60px; right: 0;
  }
  h2 {
    color: #5A2C05;
    font-size: 64px;
    width: 50%;
    margin: 260px 0 0 120px;
    text-shadow: 2px 2px 48px #fff;
    position: relative;
    z-index: 20;
  }
}

@keyframes round-move {
  0% {
    transform: rotate(-10deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: rotate(60deg);
    opacity: 0;
  }
}
