.app {
  background-color: #F1AA61;
  background-image: url('../../images/bg-image.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100vw; height: 100vh;
  overflow: scroll;
}
