.app {
  background-color: #F1AA61;
  background-image: url('../../images/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw; min-height: 100vh;
}
