.artooContainer {
  position: absolute;
  bottom: 7%;
  left: 0;
  // width: 100px;
  display: flex;
  flex-direction: row;
  animation: float 6s linear infinite;
  p {
    color: #5A2C05;
    font-size: 2em;
    font-weight: bold;
    align-self: center;
  }
  .artoo {
    height: 120px;
  }
}



@keyframes float {
  0% {
    transform: translate(0%);
  }
  100%{
    transform: translate(800%);
  }
}
