$border-color: #F1AA61;

.login-input {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 70%;
  label {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  input {
    font-size: 16px;
    padding: 0.6em;
    padding-left: 20px;
    border: 3px solid $border-color;
  }
}
