.moviePage {
  background: papayawhip;
}

.userProfile {
  display: block;
  position: relative;
  float: right;
  top: auto;
  border: 2px solid black;
  padding: 3em 5em 3em 5em;
    section {
      display: none;
    }
}

h2 {
  padding-top: 1em;
  padding-left: .5em;
  padding-bottom: 1.5em;
  font-size: 3.5em;
}
