.yodaContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-favorites {
  color: #5A2C05;
  padding: 1em;
  font-size: 2em;
}

.yoda {
  width: 20%;
  align-self: center;
}
