.user-profile {
  display: flex;
  position: relative;
  top: 0; right: 0;
  div {
    width: 100px; height: 100px;
    background-color: #F1AA61;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }
  section {
    min-width: 200px;
    max-width: 250px;
    position: relative;
    * {
      margin: 0; padding: 0;
    }
    h3 {
      color: #000;
      font-size: 24px;
      text-transform: uppercase;
      span {
        color: #5A2C05;
        text-transform: lowercase;
        font-style: italic;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
  p {
    margin-top: 15px;
    margin-bottom: 40px;
    &:before, &:after {
      content: '"'
    }
  }
  button {
    cursor: pointer;
    background: none;
    border: none;
    color: rgba(90, 44, 5, 0.5);
    font-size: 18px;
    position: absolute;
    right: 0; bottom: 0;
    z-index: 30;
    padding: 0.4em;
    &:hover {
      color: rgba(90, 44, 5, 1);
    }
  }
}

.user-profile {
  &:before {
    content: '';
    width: 140px; height: 70px;
    position: absolute;
    top: 0; left: 0;
    margin: -20px;
    border-top: 2px solid rgba(90, 44, 5, 1);
    border-left: 2px solid rgba(90, 44, 5, 1);
  }

  &:after {
    content: '';
    width: 140px; height: 70px;
    position: absolute;
    bottom: 0; right: 0;
    margin: -20px;
    border-bottom: 2px solid rgba(90, 44, 5, 1);
    border-right: 2px solid rgba(90, 44, 5, 1);
  }
}
